.sidebar
{ float: left;
  width: 250px;
  padding: 0;
  margin-top: 10px;
  margin-bottom: 10px;}
.sidebar_item
{ font: normal 100% Arial, Helvetica, sans-serif;
  width: 215px;}
  .sidebar_item .head{width:100px; height:50px;}
p
{ padding: 0 0 10px 0;
  //color: #c09853;
  line-height: 1.7em;
  font-size: 100% }
  ul#mul
{ margin:0;}
.style10{
font-family:nyala;
font-size:15px;
 margin-left:30px;
 background-color:#330033;
 }
 .style11{
 margin-left:20px;
 }
ul#mul li
{ padding: 0 0 0 0px;
  list-style: none;
  margin: 2px 0 0 0;
  display: inline;
  background: transparent;}
ul#mul li a
{ float: left;
  font: bold 120% Arial, Helvetica, sans-serif;
  height: 24px;
  margin: 0 auto;
  text-shadow: 0px -1px 0px #000;
  padding: 6px 20px 0 20px;
  background: transparent; 
  border-radius: 7px 7px 7px 7px;
  -moz-border-radius: 7px 7px 7px 7px;
  -webkit-border-radius: 7px 7px 7px 7px;
  text-align: center;
  color:#FFF;
  text-decoration: none;} 
ul#mul li.current a
{ color: #1D1D1D;
  background: #FFF;
  background: -moz-linear-gradient(#fff, #ccc);
  background: -o-linear-gradient(#fff, #ccc);
  background: -webkit-linear-gradient(#fff, #ccc);
  text-shadow: none;}
  
ul#mul li:hover a
{ color: #1D1D1D;
  background: #FFF;
  background: -moz-linear-gradient(#fff, #ccc);
  background: -o-linear-gradient(#fff, #ccc);
  background: -webkit-linear-gradient(#fff, #ccc);
  text-shadow: none;}