.row-bot {
	width:100%;
	padding:49px 0 0;
	background:url(../images/content-tail.gif) center top repeat;
}
.slider-wrapper {
	margin:0 auto;
	width:420px;
	height:159px;
	padding-bottom:46px;
	background:url(../images/slider-bg.png) 0 0 no-repeat;
	overflow:hidden;
}
.slider {
	width:420px;
	height:159px;
	position:relative;
}
.items {
	display:none;
}
.pagination {
	position:absolute;
	left:439px;
	bottom:20px;
	z-index:99;
}
.pagination li {
	float:left;
	padding-right:8px;
}
.pagination a {
	display:block;
	width:22px;
	height:22px;
	background:url(../images/slider-pagination.png) right top no-repeat;
	cursor:pointer;
}
.pagination li.current a {
	cursor:default;
}
.pagination li.current a,  .pagination a:hover {
	background-position:left top;
}