
.col1, .col2, .col3, .cols { float:left;}

.cols{ width:190px;}

.col1{ width:670px;}
.col3{ width:200px;}
.col2{ width:220px;}


/*======= index.html =======*/
#page1 .body2{ background:url(../images/bg_slider.gif) bottom repeat-x}
#page1 header{}
/*======= index-1.html =======*/
/*======= index-2.html =======*/
#page3 .cols{ width:270px;}
#page3 #content{ padding-top:4px;}
#hagati{ width:935px;height:420px;border:2px #fff dotted;}
#hagati_left{width:757px;height:417px;float:left;border:1px #000 solid; background-color:#FFFFFF}
#hagati_right{width:168px;height:417px;float:right;border:1px #fff solid;overflow:scroll}
#page3 figure{ padding-top:5px;}
/*======= index-3.html =======*/
#page4 .cols{ width:270px;}
#page4 h3{ line-height:2.1em; margin-bottom:1px;}
#page4 figure{ padding-bottom:19px;}
#page4 .pad_bot2{ padding-bottom:48px;}
#page4 #content { padding-bottom:57px;}
/*======= index-4.html =======*/
#page5 #content{ padding-top:4px}
/*======= index-5.html =======*/
/*======= index-6.html =======*/
