<style>
body {
	font: 100%/1.4 Verdana, Arial, Helvetica, sans-serif;
	background-color: #993300;
	margin: 0;
	padding: 0;
	color: #000;
	margin-top: 15px;
}


.container {
	width: 1000px;
	background-color: #C60;
	margin-left: auto;
	margin-right: auto;
	
}


.header {
	background-color: #000000;
	height: 140px;
}

.menu {
	height: 35px;
}

.register {
	background-color: #CC9933;
	height: 28px;
}


.left_column {
	float: left;
	width: 200px;
	background-color: #FFFF99;	/*padding-bottom: 10px;*/
	height: 850px;
}

.player_name {
	float: left;
	width: 180px;
	background-color: #CCCCCC;
	padding-left: 10px;
	padding-right: 10px;	/*padding-top: 10px;*/
}


.content_column {
	/*padding: 10px 0;*/
	width: 550px;
	float: left;
	background-color: #000000;
}

#players {
	float: left;
	background-color: #00FF99;
	width: 538px;
	/*height: 330px;*/	
	margin-left: 6px;
	margin-right: 6px;
	margin-top: 5px;
	margin-bottom:5px;
		
	
}

.players_profile {
	float: left;
	width: 538px;
	background-color: #9999CC;
	height: 230px;
	padding-top: 5px;
	font: bold 12px arial;
	color: #000;	
}


.players_profile img {
	float:left;
	margin-left: 5px;
	margin-right: 15px;	
}

.players_profile p {
	font-size:14px;
	font-family: sans-serif;
	text-align:left;
}

.players_profile a {
	color: #FFF;
	text-decoration: none;
}

.players_profile a:hover {
	text-decoration: underline;
	color: #000;
}

.player_biography {
	float: left;
	width: 538px;
	height: 400px;
	background-color: #996600;	
}


.right_column {
	float: left;
	width: 250px;
	background-color: #FFFF99;
	height:850px;	/*padding: 10px 0;*/
}

.inner_adv img {
	margin-left: 5px;
	margin-right: 5px;
	margin-top: 5px;
	
}



#footer {
	float: left;
	background-color: #333333;
	height: 70px;
	width: 1000px;
}


#footer .footer_menu{
	margin-left: 150px;
	/*margin-right:150px;*/
}

#footer .footer_menu a {
	margin: 0 8px;
	color: #FFFFFF;
	text-decoration: none;
}

#footer .footer_menu a:hover {
	text-decoration: underline;
}

#footer .copy {
	margin-left: 200px;
	/*margin-right:200px;*/
}

#footer .copy a {
	color: #FFFFFF;
}

#footer .design {
	margin-left: 300px;
	/*margin-right:200px;*/
}	

</style>
